h1{
    font-size: 70px;
    font-family: 'Nosifer', cursive;
}
#text{
    top: 30%;
    left: 50%;
    color:maroon;
    position: absolute;
    font-size: 25px;
    font-family: 'Nosifer', cursive;
    font-style: normal;
    transform: translate(-50%,-50%)
}
.log{
    margin: 10px;
}
p{
    color: gray;
    font-family: 'Sancreek', cursive;
    font-size: 25px
}
h2{
    font-family: 'New Rocker', cursive;
    font-size: 50px;
    color: whitesmoke;
}
h3{
    font-family: 'New Rocker', cursive;
    font-size: 40px;
    color: whitesmoke;
}
body{
    background-color: black;
}
h4{
    color: black;
    font-size: 30px;
    font-family: 'Nosifer', cursive;
}
#turn{
    top: 10%;
    left: 85%;
    color:maroon;
    position: absolute;
    font-size: 25px;
    font-family: 'Nosifer', cursive;
    font-style: normal;
    transform: translate(-50%,-50%)
}
input[type="radio"]
{
    position: relative;
    top: 10%;
    left: 0%;
    width: 25px;
    height: 25px;
    
}
#right{
    top: 100%;
    right: 50%;
    color:gray;
    position:relative ;
    font-size: 20px;
    font-family: 'Nosifer', cursive;
    font-style: normal;
    transform: translate(50%,50%)
}
table{
    width: 1000px;
    margin: 10px;
}
th{
    color: #fff;
    font-family: 'New Rocker', cursive;
    font-size: 18px;
}
input[type="checkbox"]
{
    width: 25px;
    height: 25px;
    top: 60%;
}
.card{
    background-color: black
}
.pro{
    background: transparent;
    color:gray;
    font-family: 'Nosifer', cursive;
}
.card-body{
    display: non;
}
.get,.hard{
    background: transparent;
    color:gray;
    font-family: 'Nosifer', cursive;
}
.forget{
    margin: 15px;
    font-family: 'Sancreek', cursive;
}
.ron{
    background: transparent;
    color:gray;
    font-family: 'New Rocker', cursive;
    font-size: 20px;
}
#jay{
    color: antiquewhite;
}